Source: ros-rolling-drake-vendor
Section: misc
Priority: optional
Maintainer: Drake Users <drake-users@mit.edu>
Build-Depends: debhelper (>= 9.0.0), clang, coinor-libipopt-dev, default-jdk, file, gfortran, git, libclang-dev, libeigen3-dev, libfmt-dev, libgl1-mesa-dev, libglib2.0-dev, libglu1-mesa-dev, libjchart2d-java, liblapack-dev, libspdlog-dev, libx11-dev, nasm, ocl-icd-opencl-dev, opencl-headers, patchelf, pkg-config, python3-dev, python3-distro, python3-distutils, python3-matplotlib, python3-vcstool, qtbase5-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-vendor-package, zlib1g-dev, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-drake-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, coinor-libipopt-dev, default-jdk, libclang-dev, libfmt-dev, libgl1-mesa-dev, libglib2.0-dev, libglu1-mesa-dev, libjchart2d-java, liblapack-dev, libspdlog-dev, libx11-dev, ocl-icd-opencl-dev, python3-dev, python3-distro, python3-distutils, python3-matplotlib, python3-vcstool, qtbase5-dev, zlib1g-dev, ros-rolling-ros-workspace
Description: The drake_vendor package provides a ROS installation for the Drake project https://drake.mit.edu/.
 The package uses ament_vendor to download and build a given Drake version.
